<main id="new-recipe">
<div class="main__title-wrapper">
<h1>Humm... ça sent<span class="mi-color"> bon !</span></h1>
</div>
<div class="main__form">
<%= render 'form', recipe: @recipe %>
<%= image_tag('mi-img2.svg', alt:"Illustration colorée avec des personnages tenant des légumes")%>
</div>

</main>