<nav id="nav-bar">
<a id="link-logo" href="/" data-turbolinks="false"><%= image_tag('logo.svg', alt:"logo du site miam islands")%></a>
<div class="main__cta-wrapper">
  <a href="/recipes"><span class="bold-text">Se connecter</span></a>
  <a class="preselect-cta" href="/people/sign_up"><span class="bold-text">S'inscrire</span></a>
</div>
</nav>