<main id="main-home-page" class="main">
<div id="bg-intro"></div>
    <section class="main__container">
      <h1 id="home-title-animation">
        <span letter-animation="translate" split-by="letter">Bienvenue sur</span> 
          <span word-animation="translate" class="" id="anim-intro">
              <span class="anim-title" >Miam</span> 
              <span class="mi-color" >Miam</span>
              <span class="anim-title"  >Island.</span>
              <span class="mi-color" >Island.</span>
          </span>
      </h1>
      <div class="main__content-container">
        <div  id="content-home-page" class="main__text">
          <p style="--index:1;">Tu es un fan de nourriture exotique ? Tu te trouves au bon endroit. 
          Ici tu pourras partager et découvrir des recettes exotiques 
          provenant de différentes îles du monde de la Guadeloupe en passant 
          par la Réunion. Il te reste encore beaucoup de plat à découvrir !
          </p>
          <h2 style="--index:2;">Comment partager ma recette ?</h2>
          <p style="--index:3;">C’est très simple, il te suffit juste de cliquer sur le bouton 
          <span class="bold-text">“ Partager ma recette”</span> puis mettre le titre de ta  recette,  
          les ingrédients, et les explications pour réaliser ta recette.  
          Tu peux même poster tes propres créations culinaires pour impréssionner le monde avec tes talents de chef !
          </p> 
          <div id="home-links-container" class="main__cta-wrapper">
          <a href="/recipes" data-turbolinks="false"><span class="bold-text">Découvrir des recettes</span></a>
          <a href="/recipes/new" class="preselect-cta" data-turbolinks="false"><span class="bold-text">Partager ma recette</span></a>
        </div>
        </div>
        <div id="home-illustration-container" class="main__img-wrapper">
        <span>
        <%= image_tag('mi-img1.svg', alt:"Illustration colorée avec des personnages tenant des légumes")%>
        </span>
        </div>
      </div>
    </section>
</main>

