<div id="bg-intro"></div>
<main class="main">
    <section class="main__container">
      <h1 id="home-title-animation">
        <span letter-animation="translate" split-by="letter">Bienvenue sur</span> 
          <span word-animation="translate" class="mi-color" id="anim-intro">
              <span class="anim-title" style="--index:1;">Miam</span> 
              <span  style="--index:1;">Miam</span>
              <span class="anim-title"  style="--index:2;">Island.</span>
              <span style="--index:2;">Island.</span>
          </span>
      </h1>
      <div class="main__content-container">
        <div class="main__text">
          <p>Tu es un fan de nourriture exotique ? Tu te trouves au bon endroit. 
          Ici tu pourras partager et découvrir des recettes exotiques 
          provenant de différentes îles du monde de la Guadeloupe en passant 
          par la Réunion. Il te reste encore beaucoup de plat à découvrir !
          </p>
          <h2>Comment partager ma recette ?</h2>
          <p>C’est très simple, il te suffit juste de cliquer sur le bouton 
          <span class="bold-text">“ Partager ma recette”</span> puis mettre le titre de ta  recette,  
          les ingrédients, et les explications pour réaliser ta recette.  
          Tu peux même poster tes propres créations culinaires pour impréssionner le monde avec tes talents de chef !
          </p> 
        <div class="main__cta-wrapper">
        <span>
          <a href="/recipes"><span class="bold-text">Découvrir des recettes</span></a>
          </span>
          <span>
          <a href="/recipes/new"><span class="bold-text">Partager ma recette</span></a>
          </span>
        </div>
        </div>
        <div class="main__img-wrapper">
        <%= image_tag('mi-img1.svg', alt:"Illustration colorée avec des personnages tenant des légumes")%>
        </div>
      </div>
    </section>
</main>

<script>
const splitTargets = document.querySelectorAll('[split-by]'); 
console.log(splitTargets);

const span = (text, index) => {
  const node = document.createElement('span');

  node.textContent = text;
  node.style.setProperty('--index', index);

  return node;
};

const byLetter = text => [...text].map(span);

const byWord = text => text.split(' ').map(span);

splitTargets.forEach(node => {
  const type = node.getAttribute('split-by');
  let nodes = null;

  if (type === 'letter') {
    nodes = byLetter(node.innerText);
  }
  else if (type === 'word') {
    nodes = byWord(node.innerText);
  }

  if (nodes) {
    node.firstChild.replaceWith(...nodes);
  }
});
</script>
