$cta-color: #ffcc00;
$main-color: #4b73f5;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    @media (max-width: '1300px') {
        padding-bottom: 10vh;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        h1 {
            white-space: nowrap;
            font-size: 5.5vw;

            @media (max-width: '1100px') {
                text-align: center;
                font-size: 6vw;
            }
        }
    }

    &__content-container {
        display: flex;
        flex: 1 0;

        @media (max-width: '1300px') {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    &__img-wrapper {
        flex-basis: 55%;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__text {
        flex-basis: 45%;
        flex-shrink: 0;

        @media (max-width: '1300px') {
            width: 80%;
        }

        p:first-of-type {
            margin-bottom: 2.5rem;
        }

        p:last-of-type {
            margin-bottom: 1.5rem;
        }

        h2 {
            margin-bottom: 1rem;
            font-weight: 500;
        }
    }
}

.main__cta-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    flex-shrink: 0;

    @media (max-width: '600px') {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 999px;
        border: 1px solid $cta-color;
    }

    a:first-of-type {
        margin-right: 4rem;

        @media (max-width: '600px') {
            margin-right: 0;
        }
    }

    @media (max-width: '600px') {
        a:last-of-type {
            margin-bottom: 1.4em;
        }
    }

    // @media (max-width: '1005px') {
    //     a {
    //         position: relative;
    //         &::before {
    //             z-index: -1;
    //             content: '';
    //             position: absolute;
    //             border-radius: 999px;
    //             top: 0;
    //             left: 0;
    //             right: 0;
    //             bottom: 0;
    //             opacity: 1;
    //             background-color: $cta-color;
    //         }
    //     }
    // }

    @media (min-width: '1005px') {
        a {
            position: relative;

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                border-radius: 999px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: $cta-color;
                transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:hover::before {
                opacity: 1;
                transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }

    a:last-child {
        span {
            border: none;
            margin: 0;
        }
    }
}

@media (max-width: '1100px') {
    .anim-title {
        display: none;
    }
}

@media (min-width: '1100px') and (prefers-reduced-motion: no-preference) {
    .main {
        #bg-intro {
            z-index: 10;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $main-color;
            opacity: 1;
            transition: opacity 1.6s cubic-bezier(0.2, 0.2, 0.03, 1) 1.6s;
            pointer-events: none;
        }

        #home-title-animation {
            opacity: 0;
            position: relative;
            perspective: 1000px;
            overflow: hidden;
            transform-style: preserve-3d;
        }
        // span {
        //     transform: translate3d(0, 100%, 0);
        // }

        span:first-child {
            white-space: break-spaces;
        }

        [letter-animation='translate'] > span,
        [word-animation='translate'] > span:nth-child(even),
        [word-animation='translate'] > span:nth-child(odd) {
            transform: translate3d(20%, -100%, 0) rotateX(-90deg) rotate(12deg);
            opacity: 0;
        }

        [letter-animation='translate'] > span {
            transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1)
                    calc(var(--index) * 0.06s),
                opacity 1.8s cubic-bezier(0.17, 0.84, 0.44, 1);
        }

        [word-animation='translate'] > span:nth-child(even) {
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1)
                    0.8s,
                opacity 1.6s cubic-bezier(0.17, 0.84, 0.44, 1);
        }

        [word-animation='translate'] > span:nth-child(odd) {
            z-index: 20;
            position: absolute;
            color: white;
            opacity: 1;
            transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1)
                   0.8s,
                opacity 1.6s cubic-bezier(0.17, 0.84, 0.44, 1) 1.8s;
        }

        .main__cta-wrapper {
            a {
                transform: translate3d(-100%, 120%, 0);
                opacity: 0;
                transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1) 0.8s,
                    opacity 1.2s ease 0.8s;
            }
        }

        .main__cta-wrapper.active {
            a {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }

    .main.active {
        #bg-intro {
            opacity: 0;
        }

        [letter-animation='translate'] > span,
        #home-title-animation,
        [word-animation='translate'] > span:nth-child(even),
        [word-animation='translate'] > span:nth-child(odd) {
            transform: translate3d(0, 0, 0) rotateX(0) rotate(0);
            opacity: 1;
        }

        [word-animation='translate'] > span:nth-child(odd) {
            opacity: 0;
        }
    }

    .main__text {
        p,
        h2 {
            transform: translate3d(-50%, 50%, 0);
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1)
                    calc(var(--index) * 0.25s),
                opacity 1s ease 0.8s;
        }
    }

    .main__text.active {
        p,
        h2 {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    .main__img-wrapper {
        span {
            transform: translate3d(50%, 0, 0);
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.17, 0.84, 0.44, 1),
                opacity 1s ease;
        }
    }

    .main__img-wrapper.active {
        span {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

#home-title-animation {
    span:first-child {
        white-space: break-spaces;
    }
}
