$cta-color: #ffcc00;
$main-color: #4b73f5;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @media (max-width: '1300px') {
        padding: 10vh 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        h1 {
            white-space: nowrap;
            font-size: 5.5vw;

            @media (max-width: '1100px') {
                text-align: center;
                font-size: 6vw;
            }
        }
    }

    &__content-container {
        display: flex;
        flex: 1 0;

        @media (max-width: '1300px') {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    &__img-wrapper {
        flex-basis: 55%;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__text {
        flex-basis: 45%;
        flex-shrink: 0;

        @media (max-width: '1300px') {
            width: 80%;
        }

        p:first-of-type {
            margin-bottom: 2.5rem;
        }

        p:last-of-type {
            margin-bottom: 1.5rem;
        }

        h2 {
            margin-bottom: 1rem;
            font-weight: 500;
        }
    }
}

.main__cta-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    flex-shrink: 0;

    @media (max-width: '600px') {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 999px;
        border: 1px solid $cta-color;
    }

    span:first-of-type {
        margin-right: 4rem;

        @media (max-width: '600px') {
            margin-right: 0;
        }
    }

    @media (max-width: '600px') {
        span:last-of-type {
            margin-bottom: 1.4em;
        }
    }

    @media (max-width: '1005px') {
        span:last-of-type {
            a {
                position: relative;

                &::before {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    border-radius: 999px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 1;
                    background-color: $cta-color;
                }
            }
        }
    }

    @media (min-width: '1005px') {
        a {
            position: relative;

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                border-radius: 999px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: $cta-color;
                transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    a:last-child {
        span {
            border: none;
            margin: 0;
        }
    }
}   

@media(max-width: "1100px") {
    .anim-title {
        display: none;
    }
}

@media (min-width: '1100px') {
    #bg-intro {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-color;
        opacity: 1;
        animation: opacity 2s cubic-bezier(0.2, 0.2, 0.03, 1) 3s forwards;
        animation-iteration-count: 1;
        pointer-events: none;
    }

    #home-title-animation {
        position: relative;
        overflow: hidden;

        span {
            transform: translate3d(0, 100%, 0);
        }

        span:first-child {
            white-space: break-spaces;
        }

        [letter-animation='translate'] > span {
            animation: translate 1.8s cubic-bezier(0.2, 0.2, 0.03, 1)
                calc((var(--index) * 120) * 1ms) forwards;
        }

        [word-animation='translate'] > span:nth-child(even) {
            animation: translate 2s cubic-bezier(0.2, 0.2, 0.03, 1)
                    calc((var(--index) * 1500) * 1ms) forwards,
                opacity 2s cubic-bezier(0.2, 0.2, 0.03, 1) reverse forwards;
        }

        [word-animation='translate'] > span:nth-child(odd) {
            z-index: 20;
            position: absolute;
            color: white;
            animation: translate 2s cubic-bezier(0.2, 0.2, 0.03, 1)
                    calc((var(--index) * 1500) * 1ms) forwards,
                opacity 2s cubic-bezier(0.2, 0.2, 0.03, 1) 3s forwards;
        }
    }

    @keyframes translate {
        to {
            transform: translate3d(0, -100%, 0);
        }
    }

    @keyframes opacity {
        to {
            opacity: 0;
        }
    }
}

#home-title-animation {
    span:first-child {
        white-space: break-spaces;
    }
}
