$text-color: #080708;
$main-color: #4b73f5;
$cta-color: #ffcc00;
$form-color: rgba(196, 196, 196, 0.3);

#new-recipe {
    padding: 0 5rem 5rem 5rem;

    @media (max-width: '1100px') {
        padding: 6vh 0;
    }

    .main__title-wrapper {
        margin-bottom: 2vmin;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        font-size: 2vw;

        @media (max-width: '1100px') {
            font-size: 4vw;
        }

        @media (min-width: '2000px') {
            font-size: 2.8vw;
        }
    }
}

.field {
    input {
        width: 30rem;
        padding: 1rem 1.8rem;
        outline: none;
        border-radius: 1.5rem;
        border: 2px solid rgba(8, 7, 8, 0.3);
        background: $form-color;
    }

    input:focus {
        border: 2px solid $cta-color;
    }

    textarea {
        padding: 1.5rem 1.8rem;
        outline: none;
        border-radius: 2.5rem;
        border: 2px solid rgba(8, 7, 8, 0.3);
        background: $form-color;
    }

    textarea:focus {
        border: 2px solid $cta-color;
    }
}

// .field:nth-of-type(3) {
//     textarea {
//         margin-bottom: 2rem;
//     }
// }

.main__form {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 10%;

    @media (max-width: '1100px') {
        flex-direction: column-reverse;
        // justify-content: center;
    }

    @media (min-width: '2000px') {
        height: 75vh;
    }

    .main__img-wrapper {
        flex-basis: 55%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    form {
        flex-basis: 45%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 3rem;
        border-radius: 25px;
        border: 1px solid $main-color;

        @media (min-width: '2000px') {
            justify-content: space-evenly;
            height: 100%;
        }
    }
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;

    .submit-button {
        position: relative;
        width: 15em;
        text-align: center;
        vertical-align: text-top;
        font-size: clamp(1.4rem, 1.2vw, 6.6rem);
        border: 1px solid $cta-color;
        padding: 1em;
        background: none;
        border-radius: 999px;
        cursor: pointer;
        transition: background-color 1.2s cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            background-color: $cta-color;
        }
    }
}

.all-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;

    table {
        padding: 1.2rem;
        width: 50%;
        border: 2px solid $main-color;
        border-radius: 10px;
        margin-bottom: 2rem;

        th {
            font-family: 'Poppins', sans-serif;
            font-size: clamp(2.6rem, 1.2vw, 7.6rem);
            text-align: center;

            @media (min-width: '1500px') {
                font-size: clamp(2.6rem, 1.8vw, 7.6rem);
            }
        }

        td {
            font-family: 'Manjari', sans-serif;
            font-size: clamp(1.6rem, 1.2vw, 6.6rem);
            text-align: center;
        }

        th,
        td {
            padding: 0.5em;

            @media (max-width: '400px') {
                padding: 0.1em;
            }
        }

        #destroy {
            position: relative;
            color: red;
            font-weight: bold;
            padding: 0;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0.1rem;
                width: 100%;
                transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
                background-color: red;
                transform: scaleX(0);
                transform-origin: right;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        #show,
        #edit {
            font-weight: bold;
            transition: color 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        #show:hover,
        #edit:hover {
            color: $main-color;
        }
    }

    nav {
        display: flex;

        #link-index {
            margin-right: 2rem;
        }
    }
}

#recipe_ingredient,
#recipe_preparation {
    resize: none;
    font-family: 'Manjari', sans-serif;
}

#recipe_name,
#recipe_ingredient,
#recipe_preparation {
    width: 100%;
}

#discover-title {
    font-size: 4vw;

    @media (max-width: '500px') {
        font-size: 10vw;
    }

    @media (min-width: '500px') and (max-width: '800px') {
        font-size: 7vw;
    }

    @media (min-width: '2000px') {
        font-size: 6vw;
    }
}

