$text-color: #080708;
$main-color: #4b73f5;
$cta-color: #ffcc00;
$form-color: rgba(196, 196, 196, 0.3);

#new-recipe {
    .main__title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.field {
    input {
        width: 30rem;
        padding: 1rem 1.8rem;
        outline: none;
        border-radius: 2.5rem;
        border: 2px solid rgba(8, 7, 8, 0.3);
        background: $form-color;
    }

    input:focus {
        border: 2px solid $cta-color;
    }

    textarea {
        padding: 1rem 1.8rem;
        outline: none;
        border-radius: 2.5rem;
        border: 2px solid rgba(8, 7, 8, 0.3);
        background: $form-color;
    }

    textarea:focus {
        border: 2px solid $cta-color;
    }
}

.field:nth-of-type(3) {
    textarea {
        margin-bottom: 2rem;
    }
}

.main__form {
    display: flex;
    align-items: center;

    img {
        flex-basis: 50%;
        width: 100%;
        height: 50rem;
    }

    form {
        flex-basis: 50%;
    }
}

.actions {
  margin-bottom: 1.5rem;

  .submit-button {
      position: relative;
      text-align: center;
      font-family: 'Manjari', sans-serif;
      border: 1px solid $cta-color;
      padding: 1.2rem;
      font-weight: bold;
      transition: background-color 1.2s cubic-bezier(0.23, 1, 0.32, 1);
      background: none;
      background-color: none;
      border-radius: 999px;
      cursor: pointer;

      &:hover {
          background-color: $cta-color;
      }
  }
}

.all-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
        padding: 1.2rem;
        width: 50%;
        border: 2px solid $main-color;
        border-radius: 10px;
        margin-bottom: 2rem;

        th {
            font-family: 'Poppins', sans-serif;
            font-size: 2.6rem;
            text-align: center;
        }

        td {
            font-family: 'Manjari', sans-serif;
            font-size: 1.6rem;
            text-align: center;
        }

        th,
        td {
            padding: 1rem;
        }

        #destroy {
            position: relative;
            color: red;
            font-weight: bold;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0.1rem;
                width: 100%;
                transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
                background-color: red;
                transform: scaleX(0);
                transform-origin: right;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        #show,
        #edit {
            font-weight: bold;
            transition: color 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        #show:hover,
        #edit:hover {
            color: $main-color;
        }
    }

    nav {
        display: flex;

        #link-index {
            margin-right: 2rem;
        }
    }
}
